.App {
  width: 100vw;
  min-height: 100vh;
  /* background-color: red; */
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sidebar {
  /* background-color: green; */
  /* width: 20%; */
  flex-grow: 1;
  padding: 5px 20px 5px 50px;
  box-sizing: border-box;
}

.content {
  background-color: #ebebe0;
  /* width: 80%; */
  flex-grow: 4;
  position: relative;
  padding-bottom: 30px;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  width: 90%;
  /* background-color: white; */
  /* min-height: 100px; */
}
.header h1,
p {
  margin: 2px;
}

.profile_container {
  display: flex;
  align-items: center;
}

.header_text_container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.login_details_container {
  /* background-color: pink; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.login_details_container h3,
p {
  margin: 2px;
}
.login_icon {
  position: relative;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  background-color: #660000;
  border-radius: 50px;
  padding: 15px;
}

.activeDot {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 10px !important;
  height: 10px !important;
  color: #b3b300;
  /* box-shadow: 0 2px 4px 16px rgba(0, 0, 0, 0.1); */
}

.login_text_container {
  width: 100%;
}

.user_name {
}

.profession {
}

.msg {
  padding: 20px;
  /* padding-top: 0; */
  background-color: #f2f2f2;
  border-radius: 8px;
  max-width: 60%;
  display: inline;
}
.chaticon {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat {
  align-items: start;
}

/* .randomcolor{} */

.conversations_and_addIcon {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addIcon {
  border: 1px solid black;
  border-radius: 50%;
}

.sidebarItems_ul_container {
  padding: 0;
  margin: 0;
}

.sidebarItem {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px;
  cursor: pointer;
}

.activeSidebar {
  background-color: blue;
}

.activeSidebar p {
  color: white;
}

.activeSidebar .hash {
  background-color: transparent;
  border: none;
  color: white;
}

.hash {
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 20px;
  background-color: #f5f5ef;
  padding: 10px;
}

.itemName {
}

.chats_container {
  /* width: 90%; */
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  /* background-color: red; */
}

.input_send_container {
  position: absolute;
  bottom: 20px;
  left: 30px;
  right: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  width: 80%;
  margin-right: 10px;
  /* border: none; */
  outline: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 550;
}

button {
  border: none;
  outline: none;
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 8px;
}

.Emojis_container {
  position: fixed;
  right: 0;
   bottom: 70px;
}
